{% extends 'layout.html.twig' %}

{% block content %}
    <h5>Poketmen list</h5>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Age</th>
                <th>Type</th>
                <th>Color</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for poketman in poketmen %}
            <tr>
                <td><a href="{{ path('poketman_show', { 'id': poketman.id }) }}">{{ poketman.id }}</a></td>
                <td>{{ poketman.name }}</td>
                <td>{{ poketman.age }}</td>
                <td>{{ poketman.type }}</td>
                <td>{{ poketman.color }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('poketman_show', { 'id': poketman.id }) }}"><i class="material-icons">search</i></a>
                            <a href="{{ path('poketman_edit', { 'id': poketman.id }) }}"><i class="material-icons">edit</i></a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <ul>
        <li>
            <a href="{{ path('poketman_new') }}">
                <i class="material-icons">add circle</i>
            </a>
        </li>
    </ul>
{% endblock %}
