{% extends 'layout.html.twig' %}

{% block content %}
    <h5>Poketman</h5>
    <div class="col s12 m7">
            <div class="card horizontal">
            <div class="card-image">
                <img src="{{ asset('img/pokeman1.jpg') }}">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <ul>
                        <li>Id : {{ poketman.id }}</li>
                        <li>Name : {{ poketman.name }}</li>
                        <li>Age : {{ poketman.age }}</li>
                        <li>Type : {{ poketman.type }}</li>
                        <li>Color : {{ poketman.color }}</li>
                        <li>
                    </ul>
                </div>
                <div class="card-action">
                    <ul>
                        <li>
                            <a class="btn-floating btn-large red" href="{{ path('poketman_index') }}">
                                <i class="large material-icons">reply</i>
                            </a>
                            <a class="btn-floating btn-large red" href="{{ path('poketman_delete', { 'id': poketman.id }) }}">
                                <i class="large material-icons">delete</i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            </div>
    </div>

{% endblock %}
